{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="container border rounded" id='new-post-view' style='margin: 1rem;'>
                <div class='row' style='margin: 0.5rem;'><h3>New Post</h3></div>

                <div class='row'>
                    <form id='new-post-form' for='content'>
                        {% csrf_token %}
                        <textarea name="body" id="content" cols="30" rows="10" class="form-control" style='margin: 1rem; max-height: 5rem; width: 67rem;' maxlength='500'></textarea>

                        <button type='submit' class='btn btn-outline-primary' style='margin-left: 1rem; margin-bottom: 0.5rem;'>Post</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="container" id='posts-view'>
                
            </div>
        </div>

        <nav class='row' aria-label="Page navigation" style='margin-top: 1rem; margin-left: 0.2rem;'>
            <ul class="pagination">
              <li class="page-item" id='previous-button'><a class="page-link previous" href="#">Previous</a></li>
              <li class="page-item" style='margin-left: 0.5rem;' id='next-button'><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
    <script>
        var csrftoken = '{{ csrf_token }}';
    </script>
{% endblock %}

