{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="container border border-secondary rounded" id='profile-description'>
            <div class="row" style='margin: 0.5rem;'>
                <h4 >{{ username }}</h4>
            </div>
            <div class="row" style='margin-left: 0.5rem;'>
                <h6 id='followers-count'>{{followers_count}} Followers</h6> <h6 id='following-count' style='margin-left: 1rem;'>{{following_count}} Following</h6>
            </div>
            <div class="row" style='margin: 0.5rem;'>
                {% if user.username != username and user.is_authenticated %}
                    <button class='btn btn-outline-primary' id='unfollow-button'>Unfollow</button>
                    <button class='btn btn-outline-primary' id='follow-button'>Follow</button>
                {% endif %}
            </div>
        </div>
    </div>


    <div class="container" style='margin-top: 1rem;'>
        {% for post in posts %}
        <div class="row">
            <div class="container border rounded" style='margin-top: 1rem;'>

                <h3 class='row' style='margin-left: 0.5rem; margin-right: 0.5rem; margin-top: 0.5rem;'>{{post.author}}</h3>

                <p class='row' style='margin-left: 0.5rem; margin-right: 0.5rem;'>{{post.body}}</p>
        
                <div class='row' style='margin-left: 0.5rem; margin-right: 0.5rem;'>
                    <div class='col'>
                        <h5 class='row justify-content-start'>{{post.likes}}</h5>
                    </div>
        
                    <div class='col'>
                        <p class='row justify-content-end'>{{post.time}}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}

{% block script %}
<script src="{% static 'network/profile.js' %}"></script>
<script>
    const profile_user = '{{ username }}';
    var csrftoken = '{{ csrf_token }}';
</script>
{% endblock %}